body{
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 7%;
}
.header{
    display: flex;
    flex-direction:row;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 5vh;
    padding-left: 2vw;
    padding-top: 1.5vh;
    gap: 1vw;
}

textarea{
  resize: none;
  width: 60vw;
  border: none;
  outline: none;
  font-family: "Source Sans 3", sans-serif;
}

.note-textarea{
  height: 80vh;
}

button{
  border: none;
  outline: none;
}

.button{
  border: none;
  outline: none;
}

input{
  border: none;
  outline: none;
}

.note-text-preview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;     
    max-width: 25vw;
    font-weight: 700;
  }

.create-note-button{
    width: 30vw;
    border: 0;
    height: 5vh;
  }

.note-button{
    width: 30vw;
    text-align: left;
    border: 0;
  }
  
.note-textarea{
    height: 60vh;
}

