body{
    font-family: "Source Sans 3", sans-serif;
    background-color: rgba(224, 193, 131, 0.717);
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 7%;
}
.header{
    display: flex;
    flex-direction:row;
    background-color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 5vh;
    padding-left: 2vw;
    padding-top: 1.5vh;
    gap: 1vw;
}

textarea{
  resize: none;
  width: 40vw;
  border: 0;
}

button{
  background-color: white;
  border: 0;
}

.button{
  background-color: white;
  border: 0;
}

.note-text-preview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;     
    max-width: 25vw;
    color: rgb(97, 97, 97);
    font-weight: 700;
  }

.create-note-button{
    width: 30vw;
    border: 0;
    height: 5vh;
  }

.note-button{
    width: 30vw;
    text-align: left;
    border: 0;
  }

.header-button{
    background-color: rgb(232, 232, 232);
}
  
.note-textarea{
    height: 60vh;
}

