body{
    font-family: "Source Sans 3", sans-serif;
    background-color: rgb(181, 181, 181);
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 7%;
}
.header{
    display: flex;
    flex-direction:row;
    background-color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 5vh;
    padding-left: 2vw;
    padding-top: 1.5vh;
    gap: 1vw;
}
/* .header{
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100%;
    background-color: cornflowerblue;
    z-index: 3;
}
.content{
    display: flex;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%); 
    width: 85vw;
    height: 100vw;
    background-color: #ffffff;
    z-index: 0;
} */
