{% extends "base.html" %}
{% block header %}
    <div class="header">
        <div>{{ username }}</div>
        <form action="" method="post">
            <input type="submit" value="Выйти из аккаунта" class="button header-button" name="logout">
            <input type="submit" value="Сменить тему" class="button header-button" name="change-theme">
        </form>
    </div>
{% endblock %}
{% block content %}
    <form action="" method="post">
        <div>
            <textarea name="title" cols="30" rows="1" class="title-textarea">{{ title }}</textarea>
        </div>
        <div>
            <textarea name="text" cols="30" rows="10" class="note-textarea">{{ text }}</textarea>
        </div>
        <div>
            <input type="submit" value="Сохранить" name="save" class="button">
            <input type="submit" value="Назад" name="return" class="button">
            <input type="submit" value="Удалить заметку" name="delete" class="button">
        </div>
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
        {% endfor %}
        <div>
            <input type="submit" value="Добавить пользователя" name="add_user" class="button">
            <input type="text" name="username">
        </div>
    </form>
{% endblock %}