<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online notes</title>
</head>
<body>
    <form action="" method="post">
        <input type="submit" name="create" value="Создать заметку">
    </form>
    <div class="notes-list">
        {% for n in notes %}
            <div class="note-thumbnail">
                <div class="title">{{ n.title }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>