{% extends "base.html" %}
{% block header%}
    <div class="header">
        <div>{{ username }}</div>
        <form action="" method="post">
            <input type="submit" value="Выйти из аккаунта" class="button header-button" name="logout">
            <input type="submit" value="Сменить тему" class="button header-button" name="change-theme">
        </form>
    </div>
{% endblock %}
{% block content%}
    <form action="" method="post">
        <input type="submit" name="create" value="Создать заметку" class="button create-note-button">
    </form>
    <p>Мои заметки</p>
    <div class="notes-list">
        {% for n in notes %}
            <div class="element">
                <form action="" method="post">
                    <button type="submit" name="{{ n.id }}" class="note-button">
                        <h4>{{ n.title }}</h4>
                        <div class="note-text-preview">{{ n.text }}</div>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
    <p>Общие заметки</p>
    <div class="notes-list">
        {% for n in shared_notes %}
            <div class="element">
                <form action="" method="post">
                    <button type="submit" name="{{ n.id }}" class="note-button">
                        <h4>{{ n.title }}</h4>
                        <div class="note-text-preview">{{ n.text }}</div>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}