<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <form action="" method="post">
            <div>Username:</div><input type="text" name="username" value="" required>
            <div>Password:</div><input type="password" name="password" value="" required>
            <div><input type="submit" value="Регистрация"></div>
        </form>
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
        {% endfor %}
    </div>
</body>
</html>